// theme
$themeBgColor: #f5f5f5;
$blueThemeColor: #0d7dfc;
$darkBgColor: #2e2a27;
$themeColor: #ff541c;

// base
$white: #fff;
$black: #000;

// border
$lightestBorder: #ededed;
$lighterborder: #c4c4c4;
$lightBorder: #bfbfbf;

// button
$blueBtnColor: $blueThemeColor;
$warnBtnColor: $themeColor;
$whiteBtnFont: $white;
$unableBtnColor: #c9c9c9;

// checkBox
$checkBoxColor: #fed631;

// font-size
$baseSize: 28px;
$smallSize: 24px;
$smallerSize: 20px;
$largeSize: 32px;
$largerSize: 36px;

// font-color
$activeColor: $themeColor;
$activeBlueColor: $blueThemeColor;
$darderColor: #292929;
$baseColor: #333;
$lightColor: #666;
$lighterColor: #999;
$darkColor: $black;
$navBorderColor:rgba(207,207,207,0.35);

@mixin fadeColor {
    background: linear-gradient(90deg, #ff8334, #ff501a);
}

@mixin fadeBlueColor {
    background: linear-gradient(90deg, $blueThemeColor, $blueThemeColor);
}

@mixin fadeBlue {
    background: linear-gradient(90deg, rgb(57, 184, 255), rgb(63, 136, 235));
}

@mixin flex ($items, $justify, $direction:row) {
    display: flex;
    justify-content: $justify;
    align-items: $items;
    flex-direction: $direction;
}

@mixin bgImage ($url) {
    background: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
